<div class="ui fixed menu">
  <div class="ui container">
    <a href="/" class="header item">
      <img class="logo" src="assets/img/logo.png">
    </a>
    <a href="#" class="item">{{city.name}}</a>
    <div class="ui simple dropdown item">
      Categories<i class="dropdown icon"></i>
      <div class="menu">
        {{#each city.categories}}
          <a class="item" href="search?location={{../city.location}}&radius={{../city.radius}}&type={{this}}">{{this}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</div>