<style>
  body {
    background: linear-gradient(rgba(33, 133, 208, 0.8), rgba(33, 133, 208, 0.8)), url('assets/img/{{backgroundImage}}');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
</style>
<div class="ui middle aligned center aligned grid container">
  <div class="column">
    <h1 class="ui inverted image header">
      <div class="content">
        <img src="assets/img/logo.png" alt="" width="256" height="256">
      </div>
    </h1>
    <br>
    <div class="ui fluid search selection dropdown">
      <i class="dropdown icon"></i>
      <span class="default text">Izaberite mjesto:</span>
      <div class="menu">
        {{#each city.categories}}
          <a class="item" href="search?location={{../city.location}}&radius={{../city.radius}}&type={{@key}}">{{this}}</a>
        {{/each}}
      </div>
    </div>
    <h5><a class="ui inverted header" href="https://goo.gl/YFb4tQ">Vaše mjesto nedostaje? Dodajte ga!</a></h5>
  </div>
</div>
<div class="ui text inverted bottom fixed menu">
  <div class="menu">
    <a href="//innovic.io" class="item">From Innovic d.o.o. with <i class="ui red heart icon"></i></a>
  </div>
  <div class="right menu">
    <a href="/terms_of_service" class="item">Uslovi korišćenja</a>
  </div>
</div>